<template>
  <div class="message-input">
    <input type="text" name="message" id="message" placeholder="Tapez votre message">
  </div>
</template>
<script lang="ts">
import Vue from 'vue';
export default Vue.component('MessageInput', {

});
</script>
<style lang="scss" scoped>
.message-input {
  padding: 20px 0;
}
input {
  width: 80%;
  margin: auto;
}
</style>
