<template>
  <div class="thread">
    <Message v-for="msg in group.messages" :key="msg.id" :message="msg"/>
    <MessageInput />
  </div>
</template>
<script lang="ts">
import Vue from 'vue';
import { mapActions, mapGetters } from 'vuex';
import MessageInput from './MessageInput.vue';
import Message from './Message.vue';
export default Vue.component('Thread', {
  props: ['group'],
  methods: {
  },
  data: () => ({
  }),
  computed: mapGetters({

  }),
  components: {
    MessageInput,
    Message,
  },
});
</script>
<style lang="scss" scoped>
.thread {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.message-input {
  border-top: 1px solid lighten(#000, 80%);
}
.message {
  margin: 10px 5px;
}
</style>
